<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697791643309-4kkftm47thd5i3rfchfcst375c00c3a9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697791643309-4kkftm47thd5i3rfchfcst375c00c3a9</string>
	<key>API_KEY</key>
	<string>AIzaSyBWddjjMp0cgClRlJ5fNZ4egIjx-bq6r0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>697791643309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashchat</string>
	<key>PROJECT_ID</key>
	<string>chat-flash-7119e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-flash-7119e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697791643309:ios:51d4872dd7973273c49024</string>
</dict>
</plist>